<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keyword</key>
		<string>github</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Search Github for '{query}'</string>
		<key>url</key>
		<string>https://github.com/search?q={query}</string>
		<key>utf8</key>
		<false/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>gem</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Search Rubygems for '{query}'</string>
		<key>url</key>
		<string>https://rubygems.org/search?query={query}</string>
		<key>utf8</key>
		<false/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>ror</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Search Rails APIDock for '{query}'</string>
		<key>url</key>
		<string>http://apidock.com/rails/search?query={query}</string>
		<key>utf8</key>
		<false/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>rb</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Search Ruby APIDock for '{query}'</string>
		<key>url</key>
		<string>http://apidock.com/ruby/search?query={query}</string>
		<key>utf8</key>
		<false/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>urban</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Search Urban Dictionary for '{query}'</string>
		<key>url</key>
		<string>http://www.urbandictionary.com/define.php?term={query}</string>
		<key>utf8</key>
		<true/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>drive</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Search Google Drive for '{query}'</string>
		<key>url</key>
		<string>https://drive.google.com/drive/search?q={query}</string>
		<key>utf8</key>
		<false/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>fii</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Funds Explorer</string>
		<key>url</key>
		<string>https://www.fundsexplorer.com.br/funds/{query}</string>
		<key>utf8</key>
		<false/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>web</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Open localhost:8080</string>
		<key>url</key>
		<string>http://localhost:8080</string>
		<key>utf8</key>
		<false/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>ops</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Open localhost:8081</string>
		<key>url</key>
		<string>http://localhost:8081</string>
		<key>utf8</key>
		<false/>
	</dict>
	<dict>
		<key>keyword</key>
		<string>asana</string>
		<key>spaces</key>
		<false/>
		<key>text</key>
		<string>Open Asana</string>
		<key>url</key>
		<string>https://app.asana.com/</string>
		<key>utf8</key>
		<false/>
	</dict>
</array>
</plist>
